

#container {
  display: block;
  width: 50%;
  height: 900px;
  clear:both;
}

body {
    height: 100%;
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    /* display: flex;  /*enables flex content for its children*/ */
    box-sizing: border-box;
}


#app-container {
  width: 400px;
  margin: auto;
}

#userForm {
  display: inline-block;
}

.ui.black.label {
  margin-right: 3%;
  margin-bottom: 10px;
}

.ui.form .ui.input{
  width: 50% !important;
}
